@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terceiaria: #01A34D;
    --cor-quaternaria: #0CE873;
    --cor-quintaria: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {/*Reset CSS*/
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; 100% da altura da viewport que no caso é nossa pagina*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.menu {
    padding: 2% 0% 0% 15%;
}

.menu-navegacao {
    display: flex;
    gap: 80px;
}

.link-menu {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-quaternaria)
}

.apresentacao {
    padding: 5% 15%;
    display: flex;/*coloca os elementos da página lado a lado*/
    align-items: center;/*alinha os elementos com base na imagem nesse caso*/
    justify-content: space-between;
    gap: 82px; /*é o que faz manter o espaçamento entre o conteudo da section e a imagem conforme o página é aberta em uma tela pequena*/
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.destaque {
    color: var(--cor-terceiaria);
}

.apresentacao__paragrafo {
    font-size: 1.25rem;
    margin: 40px 0 0 0;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.sub-titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    /*padding: 51px 0;*/
}

.estilo_botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terceiaria);
    color: var(--cor-secundaria);
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
}

.estilo_botao:hover {
    background-color: var(--cor-quintaria);
    color: var(--cor-secundaria);
}

.img {
    width: 50%;
    border-radius: 16px;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-quintaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}